/* Page */
.App {
    display: flex;

    .header,
    .main {
        flex: 1;
    }
}

@media screen and (max-width: 62rem) { /* Medium viewport */
    .App {
        display: flex;
        flex-flow: column;
    }
}
/* Page end */