/* About */
.about-wrap {
    padding-top: 20px;
    margin-bottom: 50px;

    .heading,
    .info {
        .center-content();
        color: @palette[fg];
    }


    .heading {
        padding-bottom: 20px;

        span {
            font-family: 'Great Vibes';
        }
    }

    .info {

        p {
            text-align: justify;
        }
    }
}
/* About end */