.skills-wrap {

    .heading {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 20px;

        h2 {
            color: @palette[fg];
            
        }
    }

    .skill {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 20px;
        
        h3 {
            color: @palette[fg];
            padding-bottom: 10px;
            text-transform: uppercase;

            span {
                background-color: @palette[fg_alt];
                // width: 60px;
                // height: 60px;
                padding: 4px 5px;
                border-radius: 100%;
                color: #fff;
                font-size: 1.1rem;
            }
        }

        .skill-bar {
            height: 40px;
            width: 100%;
            background-color: @palette[fg];

            .skill-level {
                width: 80%;
                height: 100%;
                background-color: @palette[bg];
            }
        }

        
    }
}